.tv__menu ul {
    display: flex;
    text-align: center;
    list-style-type: disc;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px;
}
.tv__menu li {
    display: inline;
    padding: 5px 10px;
    transition: all .3s ease-in-out;
}
.tv__menu li:hover {
    background-color: #eee;
    box-shadow: 0 12px 20px -10px rgba(168, 167, 167, 1), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(76, 175, 80, 0.2);
}
.tv__menu li:first-child {
    background-color: #ffdd65;
}
.tv__menu li:first-child:hover {
    color: #fff;
    border-radius: 6px;
}
.tv__menu li a {
    color: #222;
    text-decoration: none;
    transition: all .3s ease-in-out;
}
.tv__menu li a:active {
    color: green;
}
.tv__menu li a:hover {
    color: red;
}
.tv__menu li:first-child a {
    color: red;
}
.tv__menu {
    display: flex;
    justify-content: center;
}
h4.title a {
    font-size: 14px;
    text-decoration: underline;
    color: #222;
}
.title img.logo {
    margin-right: 5px;
    max-height: 30px;
    max-width: 40px;
    vertical-align: middle;
}
.nav-filter-date-link > span {
    font-size: 16px;
    line-height: 1.1;
}
.nav__day {
    display: block;
    font-size: 12px;
}
.channel {
    width: 33%;
    display: inline-block;
    vertical-align: top; 
    font-size: 13px;
}
a.event-link {
    color: #000;
    transition: all .2s ease-in-out;
}
a.event-link:hover {
    color: #39f;
}
#main {
    cursor: default;
}
.time-cell {
    padding-right: 5px;
}
tr.event {
    transition: all .2s ease-in-out;
}
tr.event:hover {
    color: red;
}
tr.event {
    transition: all .2s ease-in-out;
}
tr.event:hover {
    color: red;
}
.ecentr {
    padding-top: 15px;
    text-align: center;
}
.past a {
color: red;
text-decoration: line-through;
}
.subtitle {
        font-size: x-small;
    opacity: .6;
}
.events td {
        vertical-align: top;
}
.online {
    font-weight: 700;
    color: #000;
    text-decoration: none;
}
.centr_day {
    font-weight: 700;
    border-bottom: 1px dashed #000;
}